<h1 class="title">JavaScript Deep Dive</h1>
<ol class="breadcrumb">
  <li><a href="/jslesson">JS Basics</a></li>
  <li><a href="/jsadvlesson">JS Patterns</a></li>
  <li><a href="/nodelesson">Raw Node</a></li>
  <li><a href="/expresslesson">Express.js</a></li>
  <li class="active">MongoDB</li>
</ol>
<div class="section">
  <h1 class="section-title">MongoDB</h1>
  <p>And that's all I could get to...</p>

  <h2>All Done?</h2>
  <p>Well, that&apos;s all folks</p>
</div>
