<h2>Basic Terms</h2>

<ul>
  <li><strong>Element</strong>: The types of building blocks you use to make a web page, e.g. links</li>
  <li><strong>Tags</strong>: The building blocks in your web page that make it up, a particular link</li>
  <li><strong>Attributes</strong>: Ways to modify the building blocks, e.g. where a link goes to</li>
  <li><strong>Document</strong>: Refers to the whole document that makes up a web page</li>
  <li><strong>Comments</strong>: Pieces of text that are ignored and don't show up (useful for the coder to make notes to other developers)</li>
</ul>

<h2>Elements/Tags/Attributes</h2>
<div class="annotated-code">
  <pre class="prettyprint linenums">
&lt;strong&gt;Hi&lt;/strong&gt;</pre>
</div>

<p>Here, we are using the <strong>strong</strong> element, which bolds the text inside it.  The whole text you can refer to as the "&lt;strong&gt;" tag.</p>

<h2>Try it!</h2>

<strong>Try making a link!</strong>
<div class="tryit-widget">
  <div class="tryit-code">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#html" data-toggle="tab">HTML</a>
      </li>
      <li><a href="#css" data-toggle="tab">CSS</a></li>
      <li><a href="#js" data-toggle="tab">Javascript</a></li>
    </ul>
    <div id="webeditor" class="tab-content">
      <div class="tab-pane active tryit-html" id="html">
        <textarea class="contents">
<strong>Hi</strong>
        </textarea>
      </div>
      <div class="tab-pane tryit-css" id="css">
        <textarea class="contents">
strong {
  font-size: 20px;
}
        </textarea>
      </div>
      <div class="tab-pane tryit-js" id="js">
        <textarea class="contents">
document.onload = function() {
  alert("HI");
}
        </textarea>
      </div>
    </div>
  </div>
  <div class="tryit-preview">
    <button type="button" class="btn btn-primary">Preview</button>
    <div class="tryit-auto-wrapper">
      <label class="checkbox-inline">
        <input type="checkbox" class="auto-preview" /> Auto-update preview
      </label>
    </div>
    <div class="tryit-iframe">
      <iframe>
      </iframe>
    </div>
  </div>
  <div class="tryit-tests">
    <ul>
      <li class="success">✔ a link exists</li>
      <li class="error">X link goes to http://google.com/</li>
    </ul>
    <div class="done-message">All done - congrats!</div>
  </div>
</div>
