<h2>Basic Terms</h2>

<ul>
  <li><strong>Element</strong>: The types of building blocks you use to make a web page, e.g. links</li>
  <li><strong>Tags</strong>: The building blocks in your web page that make it up, a particular link</li>
  <li><strong>Attributes</strong>: Ways to modify the building blocks, e.g. where a link goes to</li>
  <li><strong>Document</strong>: Refers to the whole document that makes up a web page</li>
  <li><strong>Comments</strong>: Pieces of text that are ignored and don't show up (useful for the coder to make notes to other developers)</li>
</ul>

<h2>Elements/Tags/Attributes</h2>
<div class="annotated-code">
  <pre class="prettyprint linenums">
&lt;strong&gt;Hi&lt;/strong&gt;</pre>
</div>

<p>Here, we are using the <strong>strong</strong> element, which bolds the text inside it.  The whole text you can refer to as the "&lt;strong&gt;" tag.</p>

<h2>Try it!</h2>

<strong>Try making a link!</strong>
<div class="tryit-widget auto-update short">
<pre class="html">
</pre>
<pre class="tests">
xtests.add("strong tag found", "strong");
xtests.add("text inside the strong tag", function() { return $("strong").text() != "" });
</pre>
</div>

</div>
