<h2>Basic HTML document</h2>
<p>This is a basic HTML document that allows you to create a webpage from scratch.</p>

<div class="annotated-code">
  <pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
	&lt;title&gt;Kingston&#039;s World&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
	&lt;h1&gt;The Crazy Mysterious World&lt;/h1&gt;
	&lt;p&gt;Of god knows what&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
  <div class="annotation" data-line="1">
    Specifies what type of HTML document it is (HTML 5 in this case)
  </div>
  <div class="annotation" data-line="2">
    Specifies the start of the HTML document
  </div>
  <div class="annotation" data-line="3">
    Where meta information about the page, e.g. the title, its description for search engines
  </div>
  <div class="annotation" data-line="4">
    The title of the page that you see above the tab
  </div>
  <div class="annotation" data-line="6">
    The main content of the page goes in here
  </div>
  <div class="annotation" data-line="7">
    A header tag for headings in the page (there's also h2, h3, h4, ...)
  </div>
  <div class="annotation" data-line="8">
    A paragraph tag that creates a paragraph out of the text
  </div>
</div>

<h2>Try It</h2>


<div class="tryit-instructions">Create a page with title "Hi there" and a h1 header "Hello World" followed by a p tag with "ly people".
</div>
<div class="tryit-widget auto-update">
<pre class="html">
</pre>
<pre class="tests">
xtests.add("title is Hi there", "title", "Hi there");
xtests.add("has a h1 header with Hello World", "h1", "Hello World");
xtests.add("has a p tag with ly people", "p", "ly people");</div>
