<h2>A quick demo of other HTML tags</h2>

<div class="tryit-widget auto-update">
<pre class="html">
&lt;h2&gt;Form&lt;/h2&gt;
&lt;form action=&quot;/search&quot; method=&quot;GET&quot;&gt;
	&lt;input type=&#039;text&#039; name=&#039;q&#039; /&gt;
	&lt;input type=&#039;submit&#039; /&gt;
&lt;/form&gt;
&lt;h2&gt;Unordered List (also ol = ordered list)&lt;/h2&gt;
&lt;ul&gt;
	&lt;li&gt;Item 1&lt;/li&gt;
	&lt;li&gt;Item 2&lt;/li&gt;
	&lt;li&gt;Item 3&lt;/li&gt;
&lt;/ul&gt;

&lt;h2&gt;No bullets ma!&lt;/h2&gt;
&lt;ul class=&quot;nav&quot;&gt;
	&lt;li&gt;Home&lt;/li&gt;
	&lt;li&gt;About Me&lt;/li&gt;
	&lt;li&gt;Next Door&lt;/li&gt;
&lt;/ul&gt;
</pre>
<pre class="css">
.nav {
	padding: 0;
}

.nav li {
	list-style-type: none;
	padding: 5px;
	border: 1px solid #333;
	border-top: none;
}

.nav li:first-child {
	border-top: 1px solid #333;
}
</pre>
</div>